body {
  margin: 0px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

.header {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.header img {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: -15px;
}

.location {
  background-color: #f6f6f6;
  text-align: center;
  height: 19em;
}
.location-nav {
  background-color: #e5e5e5;
  border: 0.1em inset;
  height: 2.5em;
  padding-bottom: 5px;
}
.location i {
  margin-right: 14px;
}
.location-menu {
  flex-direction: column;
  justify-content: space-evenly;
  height: 15em;
  padding: 0 1em;
}
.location-btn {
  background: linear-gradient(170deg, #ff79da, #9356DC);
  color: white;
  font-size: large;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  margin-bottom: 7vw;
  box-shadow: 4px 4px 2px lightgrey max-width 250px;
  align-self: center;
  transition: all 1s ease-in-out;
}
.location-btn:hover {
  transform: scale(1.15);
  cursor: pointer;
}

h3 {
  font-weight: 400;
  font-size: 1.2em;
}
h3:hover {
  color: #9356DC;
}

.restaurants {
  background-color: whitesmoke;
  margin-top: 5em;
}
.restaurants h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurants h2:hover {
  color: #9356DC;
}
.restaurants .restaurants-bg .card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 35px;
}
.restaurants .restaurants-bg .res-cards {
  display: flex;
  align-items: left;
  flex-direction: column;
  padding-bottom: 20px;
  width: 21em;
  height: 14em;
  border-radius: 1em 1em;
  position: relative;
  background-color: white;
  box-shadow: 8px 8px 2px lightgray;
  transition: all 1s ease-in-out;
}
.restaurants .restaurants-bg .res-cards:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.restaurants .card-img {
  position: relative;
}
.restaurants img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1em 1em 0em 0em;
  height: 10em;
  width: 21em;
}

.new {
  position: absolute;
  left: 17.4em;
  bottom: 7.5em;
  background-color: #99e2d0;
  color: #217460;
  padding: 0.6em 1.5em;
  border-radius: 5px;
  font-size: 0.9em;
  font-weight: 500;
}
.new-text {
  margin: 1px 14px;
  line-height: 1em;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 10px 10px;
}
.content .card-text {
  margin: 5px 14px;
  line-height: 0.5em;
}
.content .heart {
  display: grid;
}
.content .heart:active .icon--full {
  color: #9356DC;
}
.content .heart:active .icon--empty {
  color: transparent;
}
.content .fa-heart {
  position: relative !important;
  left: 0px !important;
  font-size: 1.5em;
  cursor: pointer;
  grid-column: 1;
  grid-row: 1;
}

.how-it-works {
  margin-top: 2em;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.how-it-works h2 {
  padding-bottom: 13px;
}
.how-it-works h2:hover {
  color: #9356DC;
}
.how-it-works .nav-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 16em;
  padding-left: 0.1em;
  margin-top: 1em;
  margin: 0 auto;
}
.how-it-works button {
  font-size: 1em;
  height: 3em;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 1.25em;
  width: 15em;
  max-width: 250px;
  position: relative;
  cursor: pointer;
  transition: all 1s ease-in-out;
  background-color: #f6f6f6;
  box-shadow: 8px 8px 2px lightgray;
}
.how-it-works button:hover {
  transform: scale(1.17);
  color: black;
}
.how-it-works button .icon {
  width: 10%;
}
.how-it-works button:hover {
  background-color: #e4d5f6;
}
.how-it-works button:hover .fa-mobile-alt {
  color: #9356DC;
}
.how-it-works button:hover .fa-list {
  color: #9356DC;
}
.how-it-works button:hover .fa-store {
  color: #9356DC;
}
.how-it-works button .circle1, .how-it-works button .circle2, .how-it-works button .circle3 {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  left: -1em;
  background-color: #9356DC;
  border-radius: 2em;
  color: whitesmoke;
  font-size: 0.9em;
  height: 2em;
  width: 2em;
  top: 9px;
}
.how-it-works button .fa-mobile-alt, .how-it-works button .fa-list, .how-it-works button .fa-store {
  padding-right: 1em;
  font-size: medium;
}

footer .footer {
  background-color: #4a4c4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  height: 13.5em;
  padding-left: 2em;
  color: darkgray;
}
footer .footer .footer-title {
  font-family: shrikhand, cursive;
  font-size: larger;
  margin-top: 0px;
}
footer .footer a {
  color: white;
  text-decoration: none;
}
footer .footer i {
  margin-right: 0.75em;
  padding-right: 1em;
}
footer .footer p {
  margin: 1em 0em;
  font-family: Roboto;
  font-size: 1.2em;
}

#loader {
  height: 180px;
  width: 180px;
  border: 16px solid lightgray;
  border-top: 16px solid #9356DC;
  border-right: 16px solid #ff79da;
  border-bottom: 16px solid #99e2d0;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 25%;
}

#loader-bg {
  width: 100%;
  height: 2000px;
  background-color: whitesmoke;
  z-index: 10;
  position: absolute;
  animation: cssAnimation 0s ease-in 3s forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    display: none;
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=homepage-styles.css.map */