$logo-title: Shrikhand;
$text: Roboto;
$primary-color: #9356DC;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;


#gradient {
    --color-stop-1: $primary-color;
    --color-stop-2: $secondary-color
}

body {
    margin: 0px;
    margin: 0 auto;
    font-family: $text, sans-serif;
}

a {
    color: black;
    text-decoration: none;

    &:visited {
        color: black;
    }
}



.header {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

    & img {
        padding-bottom: 30px;
        padding-top: 30px;
        margin-bottom: -15px;
    }
}

.location {
    padding-top: 2px;
    background-color: #f6f6f6;
    text-align: center;
    height: 22em;


    &-nav {
        background-color: #e5e5e5;
        border: 0.1em inset;
        height: 2.5em;
        padding-bottom: 5px;
    }

    i {
        margin-right: 14px;
    }

    &-menu {
        flex-direction: column;
        justify-content: space-around;
        height: 15em;
        padding: 2em;
    }

    &-btn {
        background: linear-gradient(170deg, $secondary-color, $primary-color);
        color: white;
        font-size: large;
        padding: 1rem;
        border-radius: 40px;
        border: none;
        margin-bottom: 7vw;
        box-shadow: 8px 8px 12px lightgrey;
        align-self: center;
        transition: all 1s ease-in-out;
        width: 280px;
        height: 60px;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
            background: linear-gradient(170deg, lighten($secondary-color, 5%), lighten($primary-color, 5%));
            box-shadow: 8px 8px 12px darkgrey;
        }
    }
}

h3 {
    font-weight: 400;
    font-size: 1.2em;
    padding: 1em;

    &:hover {
        color: $primary-color;
    }
}

.restaurants {
    background-color: whitesmoke;
    margin-top: 5em;
    padding-top: 2em;


    h2 {
        display: flex;
        align-items: left;
        justify-content: left;
        padding-left: 2em;
    }

    h2 {
        &:hover {
            color: $primary-color;
        }
    }

    .restaurants-bg {

        .card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding-bottom: 40px;

        }

        .res-cards {
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;
            width: 21em;
            height: 13em;
            border-radius: 1em 1em;
            position: relative;
            background-color: white;
            box-shadow: 8px 8px 12px lightgray;
            transition: all 1s ease-in-out;

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }

    .card-img {
        position: relative;
    }

    img {
        object-fit: cover;
        border-radius: 1em 1em 0em 0em;
        height: 11em;
        width: 100%;
    }
}

.new {
    position: absolute;
    left: 17em;
    bottom: 9em;
    background-color: $tertiary-color;
    color: darken($tertiary-color, 45%);
    padding: 0.6em 1.5em;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 500;

    &-text {
        margin: 1px 14px;
        line-height: 1em;

    }
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 10px;

    .card-text {
        margin: 0 14px;
        line-height: .5em;

        h4 {
            margin-top: 7px;
        }
    }


    .heart {
        display: grid;

        .icon--full {
            color: $primary-color;

            &:hover {
                fill: url(#gradient);
            }
        }

        .icon--empty {
            background-color: white;
            color: black;
            transition: opacity 1s;

            &:hover {
                opacity: 0;
            }
        }

        .fa-heart {
            position: relative !important;
            left: 0px !important;
            font-size: 1.5em;
            cursor: pointer;
            grid-column: 1;
            grid-row: 1;

        }
    }
}

.how-it-works {
    margin-top: 2em;
    display: flex;

    flex-direction: column;
    background-color: white;
    justify-content: left;
    padding-left: 2em;

    h2 {
        padding-bottom: 13px;

        &:hover {
            color: $primary-color;
        }
    }

    .nav-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 20em;
        margin-top: 1em;
        align-self: center;
    }

    button {
        font-size: 1em;
        height: 5em;
        text-align: left;
        outline: none;
        border: none;
        border-radius: 2em;
        width: 19em;
        position: relative;
        cursor: pointer;
        transition: all 1s ease-in-out;
        background-color: #f6f6f6;
        box-shadow: 8px 8px 12px lightgrey;


        &:hover {
            transform: scale(1.17);
            color: black;

        }

        .icon {
            width: 12%;
        }

        &:hover {
            background-color: lighten($primary-color, 30%);
        }

        &:hover .fa-mobile-alt {
            color: $primary-color;
        }

        &:hover .fa-list {
            color: $primary-color;
        }

        &:hover .fa-store {
            color: $primary-color;
        }

        .circle1,
        .circle2,
        .circle3 {
            display: flex;
            align-items: center;
            position: absolute;
            justify-content: center;
            left: -1em;
            background-color: $primary-color;
            border-radius: 2em;
            color: whitesmoke;
            font-size: 0.9em;
            height: 2em;
            width: 2em;
            top: 30px;
        }

        .fa-mobile-alt,
        .fa-list,
        .fa-store {
            padding: 2em;
            font-size: medium;
        }
    }
}


footer {

    .footer {
        background-color: #4a4c4f;
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 0.5em;
        height: 13.5em;
        padding-left: 2em;
        color: darkgray;
        padding-top: 2em;

        .footer-title {
            font-family: shrikhand, cursive;
            font-size: larger;
            margin-top: 0px;
        }

        a {
            color: white;
            text-decoration: none;
        }

        i {
            margin-right: 0.75em;
            width: 20px;
        }

        p {
            margin: 1em 0em;
            font-family: $text;
            font-size: 1.2em;
        }
    }
}

#loader {
    height: 180px;
    width: 180px;
    border: 16px solid lightgray;
    border-top: 16px solid $primary-color;
    border-right: 16px solid $secondary-color;
    border-bottom: 16px solid $tertiary-color;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: absolute;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 25%;

}

#loader-bg {
    width: 100%;
    height: 2000px;
    background-color: whitesmoke;
    z-index: 10;
    position: absolute;
    animation: cssAnimation 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
        display: none;
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 992px) {
    .restaurants-bg {
        display: flex;
        gap: 25px;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .top-part {
        display: flex;
        justify-content: space-around;
    }
}