$logo-title: "Shrikhand";
$text: "Roboto";
$primary-color: #9356DC;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$color-background: #f6f6f6;


  body {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      font-family: $text;
  }
  
  .header {
    align-items: center;
    justify-content: center;
    
    .logo{
        display: flex;
        justify-content: center;
        margin: 5px;
    }
    .arrow {
        position: relative;
        top: 10px;
        right: 45px;
        font-size: x-large;
    }

  h2 {
    white-space: pre-wrap !important;
    width: 70%;
    word-wrap: break-word;
    }
    h4 {
      padding-bottom: 0px;
      margin: 0 5vw;  
    }
}

#wrap-img {
    height: 300px;
    object-fit: cover;
    width: 100%;
    right: 2em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: fade-in 2000ms forwards;
}

  .menu-content {
    background-color: #f6f6f6;
    border-radius: 2.6em 2.6em 0 0;
    position: relative;
    margin: 0 auto;
    margin-top: -100px;
    border-radius: 2.6em 2.6em 0 0;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    padding: 20px;

    .restaurant {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
  
    h2 {
      display: flex;
      justify-content: center;
      white-space: nowrap;
      font-family: shrikhand;
      font-size: 1.8em;
      font-weight: 300;
      margin: 0;
      &:hover {
        color: $primary-color;
      }
    }

    .card-Restaurants {
      background-color: $color-background;
      width: 21em;
      height: 14em;
      border-radius: 1em 1em;
      border-color: #f6f6f6;
      position: relative;
      transition: all 1s ease-in-out;
    
        &:hover {
            transform: scale(1.15);
            cursor: pointer;
        }
    }
  
    p {
      font-weight: 300;
      &:hover {
        color: $primary-color;
      }
    }
  }
  
  .menu-content {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
  }
  
  .menu-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5em;
  
    .menu-card {
      display: flex;
      justify-content: space-between;
      background-color: white;
      border-radius: 1.2em;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      height: 90px;
      overflow: hidden;
      white-space: nowrap;
      position: relative;
      height: fit-content;
      animation: fade-in 5s forwards;
    
      .check {
        color: $color-background;
        border-radius: 50%;
        font-size: 1.5em;
        white-space: nowrap;
        
        transition: all 0.5s;
      }
  
      &:hover .check {
        transform: rotate(360deg);
        transition: all 1.5s;
      }

    
    }
  
      .rotate {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: 0;
        width: 30%;
        background-color: $tertiary-color;
        border-radius: 0 1.2em 1.2em 0;
        overflow: hidden;
        transition: 500ms ease-in-out;
      }
      &:active .rotate {
        width: 5em;
        transition: 500ms ease-in-out;
      }
      &:active .rotate {
        width: 5em;
        transition: 500ms ease-in-out;
      }

    }
    #card-height {
      line-height: 100%;
      font-size: medium;
    }
    .text-wrap {
      flex: none;
      width: 75%;
      margin: 0em 0em 0em 1em;
      line-height: 1em;
      transition: width 500ms ease-in-out;
      &:hover {
        transition: width 500ms ease-in-out;
        width: 56%;
      }
      &:hover {
        transition: width 500ms ease-in-out;
        width: 56%;
      }

  
      p {
        overflow: hidden;
        white-space: nowrap;
        &:hover {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          &:hover {overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }

  .menu-price {
    text-align: center;
    width: 25%;
    flex: none;
  
    b {
      position: relative;
      top: 2.5em;
      transition: width 500ms ease-in-out;
    }
  }
  
  .menu-subtitle {
    width: 100%;
    h4 {
        white-space: nowrap;
    font-weight: 400;
    border-bottom: 3px #99e2d0 solid;
    width: 33px;
    height: 23px;
    margin: 1em 0em;
    }
  }

  .order-btn {
    width: 200px;
    align-self: center;
    margin: 3rem;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    color: white;
    font-size: large;
    padding: 1rem;
    border-radius: 50px;
    border: none;
    margin-bottom: 7vw;
    box-shadow: 4px 4px 2px lightgrey;
    width: 60vw;
    max-width: 250px;
    align-self: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
    &:hover {
      transform: scale(1.15);
      cursor: pointer;
    }}

  .fa-heart {
    position: relative !important;
    left: 0px !important;
    font-size: 1.5em;
    cursor: pointer;
    grid-column: 1;
    grid-row: 1;
    transition: all 1s ease-in-out;
    &:hover {
      transform: scale(1.5);
      cursor: pointer;
    }
  }
  
  .footer {
    background-color: #4a4c4f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    height: 13.5em;
    padding-left: 2em;
    color: darkgray;
    
    .footer-title {
        font-family: shrikhand, cursive;
        font-size: larger;
        margin-top: 0px;
    }
    a {
        color: white;
        text-decoration: none;
        i {
        margin: 1em;
        padding-right: 1em;
    }
    }
    
    p {
        margin: 1em 0em;
        font-family: $text;
        font-size: 1.2em;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
      top: 100px ;
    }
    to {
      opacity: 1;
      top: 0px;
    }
  }