body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  font-family: "Roboto";
}

.header {
  justify-content: left;
  padding-top: 1em;
  padding-bottom: 1em;
}
.header .logo {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}
.header .arrow {
  position: relative;
  top: 30px;
  left: 15px;
  font-size: x-large;
  color: #4a4c4f;
}
.header h2 {
  white-space: pre-wrap !important;
  width: 70%;
  word-wrap: break-word;
}
.header h4 {
  padding-bottom: 0px;
  margin: 0 5vw;
}

#wrap-img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  right: 2em;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-content {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 2.6em 2.6em 0 0;
  position: relative;
  margin: 0 auto;
  margin-top: -100px;
  border-radius: 2.6em 2.6em 0 0;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  justify-content: left;
  width: 100%;
}
.menu-content .restaurant {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu-content h2 {
  display: flex;
  justify-content: left;
  white-space: nowrap;
  font-family: shrikhand;
  font-size: 1.8em;
  font-weight: 300;
  margin: 0;
}
.menu-content h2:hover {
  color: #9356DC;
}
.menu-content .card-Restaurants {
  background-color: #f6f6f6;
  width: 30em;
  height: 14em;
  border-radius: 1em 1em;
  border-color: #f6f6f6;
  position: relative;
  transition: all 1s ease-in-out;
}
.menu-content .card-Restaurants:hover {
  transform: scale(1.15);
  cursor: pointer;
}
.menu-content p {
  font-weight: 300;
}
.menu-content p:hover {
  color: #9356DC;
}

.menu-content {
  align-items: center;
  padding: 1em;
}

.menu-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5em;
  padding-bottom: 2em;
}
.menu-section .menu-card {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 1.2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 90px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  animation: fade-in 1s forwards;
  width: 350px;
}
.menu-section .menu-card .check {
  color: #f6f6f6;
  border-radius: 50%;
  font-size: 1.5em;
  white-space: nowrap;
}
.menu-section .menu-card:hover .check {
  animation: check-rotate 1s forwards;
}
@keyframes check-rotate {
  to {
    transform: rotate(360deg);
  }
}
.menu-section .menu-card:hover .text-wrap {
  width: 50%;
}
.menu-section .menu-card:hover .text-wrap p {
  color: black;
}
.menu-section .second-card {
  animation-delay: 100ms;
}
.menu-section .third-card {
  animation-delay: 200ms;
}
.menu-section .fourth-card {
  animation-delay: 300ms;
}
.menu-section .menu-sections {
  display: flex;
}
.menu-section .rotate {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 0;
  width: 30%;
  background-color: #99e2d0;
  border-radius: 0 1.2em 1.2em 0;
  overflow: hidden;
  transition: 500ms ease-in-out;
}

#card-height {
  line-height: 100%;
  font-size: medium;
}

.text-wrap {
  flex: none;
  width: 75%;
  margin: 0em 0em 0em 1em;
  line-height: 1em;
  transition: width 500ms ease-in-out;
}
.text-wrap p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-price {
  text-align: center;
  width: 25%;
  flex: none;
}
.menu-price b {
  position: relative;
  top: 2.5em;
  transition: width 500ms ease-in-out;
}

.menu-subtitle h4 {
  white-space: nowrap;
  font-weight: 400;
  border-bottom: 3px #99e2d0 solid;
  width: 33px;
  height: 23px;
  margin: 1em 0em;
}

.order-btn {
  width: 200px;
  align-self: center;
  margin: 3rem;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  color: white;
  font-size: large;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  margin-bottom: 7vw;
  box-shadow: 4px 4px 2px lightgrey;
  width: 60vw;
  max-width: 250px;
  align-self: center;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.order-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  background: linear-gradient(170deg, #ff93e1, #a16be0);
  box-shadow: 8px 8px 12px darkgrey;
}
.order-btn:hover {
  transform: scale(1.17);
  color: black;
}

.fa-heart {
  position: relative !important;
  left: 0px !important;
  font-size: 1.5em;
  cursor: pointer;
  grid-column: 1;
  grid-row: 1;
  transition: all 1s ease-in-out;
}
.fa-heart:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.footer {
  background-color: #4a4c4f;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 0.5em;
  height: 13.5em;
  padding: 2em;
  color: darkgray;
}
.footer .footer-title {
  font-family: shrikhand, cursive;
  font-size: larger;
  margin-top: 0px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a i {
  margin: 1em;
  width: 20px;
}
.footer p {
  margin: 1em 0em;
  font-family: "Roboto";
  font-size: 1.2em;
}

@keyframes fade-in {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0px;
  }
}
@media (min-width: 768px) {
  .menu-sections {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
}/*# sourceMappingURL=pages-styles.css.map */